@charset "utf-8";
.calculator {
    border: 1px solid #ccc;
    width: 240px;
    margin: 0 auto;
  }
  
  .display {
    background-color: #f9f9f9;
    padding: 10px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;
  }
  
  button {
    border: none;
    background-color: #eee;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
  }
  
  button:active {
    background-color: #ccc;
  }
  